force-app/main/default/flows/Event_Record_Date_Time_of_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Checks to see if any events overlap with this interview (event). If so, returns true. Otherwise, false.</description>
        <name>Check_for_Overlapping_Events</name>
        <label>Check for Overlapping Events</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>FlowHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Overlapping_Event_Found</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>interviewStartEndTimes</name>
            <value>
                <elementReference>EventDateTimeStartEnd</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowHandler</nameSegment>
        <outputParameters>
            <assignToReference>overlapEventFound</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Capture_Start_End_Time</name>
        <label>Capture Start/End Time</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>EventDateTimeStartEnd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Date_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventDateTimeStartEnd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Overlapping_Events</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Overlapping_Event_Found</name>
        <label>Overlapping Event Found?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Interview_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>overlapEventFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overlap_Problem_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow to record the date, time, and details of scheduled interview. Will be associated with Application and Owner.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the end date/time of the scheduled interview.</description>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Select_Date_Start_Time} + ({!Select_Duration_in_Hours}/24)</expression>
    </formulas>
    <interviewLabel>Event: Record Date &amp; Time of Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event: Record Date &amp; Time of Interview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an event record that holds the details of a scheduled interview.</description>
        <name>Create_Interview_Event</name>
        <label>Create Interview Event</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>Select_Date_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_of_interview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Interview_Screen</name>
        <label>Interview Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Start_End_Time</targetReference>
        </connector>
        <fields>
            <name>InterviewInstructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add Interview to Calendar&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Create an interview event to add to your Salesforce calendar:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Interview_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject (eg, First Interview)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_Date_Start_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Select Date &amp; Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be at date/time in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Select_Date_Start_Time} &gt;= {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Select_Duration_in_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Give estimated duration between 1 and 5 hours.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Invalid: Duration in hours must be between 1 and 5. &lt;/p&gt;</errorMessage>
                <formulaExpression>{!Select_Duration_in_Hours} &gt;= 1 &amp;&amp; {!Select_Duration_in_Hours} &lt;= 5</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Interview_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Interview_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description_of_interview</name>
                    <dataType>String</dataType>
                    <fieldText>Description of event. Include who else will be present and where it will take place.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Overlap_Problem_Screen</name>
        <label>Overlap Problem Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProblemMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;⚠️ A conflicting event was found!&lt;/strong&gt; &lt;strong&gt;Your Event record was &lt;em&gt;not &lt;/em&gt;saved. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Review your Salesforce Calendar and make appropriate changes to avoid a scheduling conflict. Then try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success! Your interview details were saved&lt;/strong&gt; &lt;strong&gt;as a Salesforce Event. &lt;/strong&gt;Find it in your Activity Timeline and Salesforce Calendar.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Interview_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A collection (list) the holds both the start and end time of the event. This will be passed to invocable Apex.</description>
        <name>EventDateTimeStartEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to hold the returned boolean value (true/false) from invocable Apex.</description>
        <name>overlapEventFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Represents the recordId of the record page where the component is located (eg, Application record).</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
